<aside class="sidebar">

    {% if page.id %}
    <div class="widget widget-recent">
        <h4 class="widget-title">近期文章</h4>
        {% for post in site.posts limit:4 %}
        <div class="recent-posts">
            {% if post.image %}
            <div class="recent-header">
                <a class="recent-image" href="{{ root_url }}{{ post.url | prepend: site.baseurl }}" style="background-image: url({{"/img/" | prepend: site.baseurl | append: post.image}})"></a>
            </div>
            {% else %}
            {% endif %}
            <div class="recent-content">
                <h8 class="recent-title"><a href="{{ root_url }}{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h8>
                <div class="recent-date">
                    <time datetime="{{ post.date | date_to_xmlschema }}">{{post.date | date: "%B %-d, %Y"}}</time>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    {% endif %}



    <div class="widget widget-project">
        <h4 class="widget-title">计划</h4>
        <div class="project-text"> </div>
        <div class="logo-title">
            <a href="/sidebar" class="logo-text">Watch Book</a>
        <div class="project-text"> </div>
        </div>
        <div class="logo-title">
            <a href="https://valentines.gitee.io" class="logo-text">Blog Inside the wall</a>
        </div>
    </div>


    <div class="widget widget-tags">
        <h4 class="widget-title">标签</h4>
        {% capture site_tags %}{% for tag in site.tags %}{{ tag | first }}{% unless forloop.last %},{% endunless %}{% endfor %}{%
    endcapture %} {% assign tag_words = site_tags | split:',' | sort %}
        <ul class="tag-list list-reset">
            {% for item in (0..site.tags.size) %}{% unless forloop.last %}
            {% capture this_word %}{{ tag_words[item] | strip_newlines }}{% endcapture %}
            <li class="tag-item"><a href="{{ site.baseurl }}/tags#{{ this_word | cgi_escape }}" class="tag">{{ this_word }}</a></li>
            {% endunless %}
            {% endfor %}
        </ul>
    </div>
    
    <div>
        <h4 class="widget-title">关注</h4>
        {% include sidebar.html %}
        <iframe src="/vedio/潇湘子.mp3" allow="autoplay" loop="true"></iframe><br>
        <iframe src="https://www.propublica.org/newsapps/"></iframe>
        
    </div>

<!--
    <div class="widget widget-social">
        <h4 class="widget-title">关注</h4>
        <ul class="social-profiles list-reset">
            {% if site.facebook %}
            <li class="social-profiles-item">
                <a href="{{ site.facebook }}" class="social-profiles-link"><i class="ion ion-logo-facebook"></i></a>
            </li>
            {% else %} {% endif %}

            {% if site.instagram %}
            <li class="social-profiles-item">
                <a href="{{ site.instagram }}" class="social-profiles-link"><i class="ion ion-logo-instagram"></i></a>
            </li>
            {% else %} {% endif %}

        </ul>
    </div>
-->


</aside> <!-- /.sidebar -->
